
  .footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2C2247;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .icono-cupcake-footer{
    width: 30px;
    height: 30px;
}

  .header{
    display: flex;
    background-color: #2C2247;
  }

  .LogoCup img{
    width: 100px;
    height: 100px;
  }

  .Icono-menu{
    width: 30px;
  }
