@media screen and (max-width: 340px) {
  .footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2C2247;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .icono-cupcake-footer{
    width: 30px;
    height: 30px;
}

}
