 /* footer */
 .footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2C2247;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  /* icono del footer */
  .icono-cupcake-footer img{
    width: 30px;
    height: 30px;
}

/* encabezado */
  .header{
    display: flex;
    background-color: #2C2247;
  }

/*logo de Nico's cupcakes  */
  .LogoCup img{
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .carrito-arriba-contador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 1150px;
    margin-right: 10px;
  }

/* primer circulo que va a contener el icono */
  .circulo1{
    width: 65px;
    height: 65px;
    position: relative;
    border-radius: 80px;
    background-color: #DFB5F4;
    border: 2px solid #AD5AC1;
  }

  /*circulo que va a tener el contador*/
  .circulo2-contador{
    width: 28px;
    height: 28px;
    border-radius: 40px;
    position: absolute;
    top: 45px;
    margin-left: 17px;
    background-color: #fff;
    border: 1px solid #AD5AC1;
  }

  /*icono de carrito*/
  .icon-carrito img{
    width: 30px;
    position: relative;
    top: 10px;
  }

  /* Elemento principal que va a contener loes otros elementos  */
  .Categorias{
    width: 80px;
    height: 50px;
    border-radius:12px;
    background-color: #DFB5F4;
    border: 1px solid #9973B2;

  }
    /*Elemento del circulo que va a contener el icono */
  .circulo-categoria{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #9973B2;
    border: 2px solid #8500ED;
  }